/********************* RESET **********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********************* FIM RESET **********************/


/**** HEADER ****/

.container {
	width: 1200px;
	margin: 0 auto;
}

header {
	background-color: #141412;
	padding: 1rem;
}

figure img {
	height: 4rem;
}

nav a {
	margin: 0 2rem 0 2rem;
	color: #FAFAFA;
	font-weight: 300;
}

header section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

span {
	color: #69B99D;
}

.logo {
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	margin: 2rem;
}


/*** MAIN ***/


th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

table {
	border: 1px solid grey;
	border-radius: 3px;
	height: 500px;
}

tr {
	border: 1px solid grey;
}

.align {
	text-align: center;
}

.btn {
    color: #FAFAFA;
    background-color: #69B99D;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
}

form p {
	margin: 2rem;
}

/***** FOOTER *****/

.titulo {
	font-size: 2rem;
	font-weight: 700;
	color: #141412;
	text-align: center;
	margin: 2rem 0 2rem 0;
}

.subtitle {
	font-size: 1.5rem;
	color: #141412;
	font-weight: 700;
}

.texto {
	font-size: 1.2rem;
	font-weight: 300;
	color: #767676;
	margin: 10px;
}



footer {
	background-color: #141412;
	padding: 1rem;
}

footer p {
	color: #FAFAFA;
	margin: 1.8rem 0 1.3rem 0;
}

footer a {
	margin: .7rem 0 .7rem 0;
}

footer section {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

footer nav {
	display: flex;
	flex-direction: column;
}